.LogInControls {
    margin: 10px 0;
}

.LogInControls-button {
    --button-color: var(--twitch-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.LogInControls-button > * {
    flex: 0 0 auto;
}

.LogInControls-button > *:not(:first-child) {
    margin-left: 10px;
}

.LogInControls-button > span {
    font-family: Helvetica, sans-serif;
    font-size: 100%;
    font-variant: normal;
}
